<!-- <input matInput (keyup)="keyupMethod()"
       [formControl]="frm"
       [matAutocomplete]="auto">
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event.option.value)">
  <mat-option *ngFor="let option of items$ | async" [value]="option" >
    {{option}}
  </mat-option>
</mat-autocomplete>

<br><br><br>


<button (click)="completeMethod()">Parar</button> -->

<!-- (onSelectionChange)="select(option)" -->
<h1>Autocomplete</h1>

<button (click)="Aceptar()">Aceptar</button>
<button (click)="Cerrar()">Cerrar</button>
