.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}


.content{
  display: flex;
  align-items: center;
  gap: 10px;
  span{
    // box-sizing: border-box;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
  }
}

.active{
  transition: all 0.8s;
  background-color: red;
  color: white;
}

.hola{
  font-size: 25px;
}
